.c-base {
  &__wrapper {
    height: 100vh;
    display: flex;
    &_left {
      width: 15%;
      float: left;
    }
    &_right {
      width: 85%;
      float: right;
    }
  }
  &__content {
    &_right {
      padding: 100px 20px;
    }
  }
  &__text {
    &_bold {
      font-weight: 700;
    }
  }
  &__sub-view{
    height: 100vh;
  }
}

@media only screen and (max-width : 1440px) {
  .c-base {
    &__wrapper {
      display: flex;
      &_left {
        width: 20%;
        float: left;
      }
      &_right {
        width: 80%;
        float: right;
      }
    }
    &__content {
      &_right {
        width: 1118px;
        float: right;
      }
    }
  }
}