.c-dashboard {
  &__wrapper {
    height: 100vh;
  }
  &__content{
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    &-right {
      margin-left: 95px;
      background-color: #FFFFFF;
      height: 100vh;
    }
    &-bottom {
      padding-top: 20px;
      padding-left: 20px;
      display: flex;
    }
  }
  &__column{
    width: 235px;
    padding: 20px;
    margin-right: 20px;
    border-radius: 8px;
    &-title{
      font-weight: 700;
    }
    &_empty{
      height: 50px;
    }
  }

  &__task{
    border-bottom: 2px solid #dbdbdb;
    background: #ffffff;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1280px) {
  .c-dashboard{
    &__wrapper {
      &-content{
        &-right {
          margin-left: 95px;
        }
      }
    }
  }
}