.c-sidebar{
  &__wrapper{
    width: 250px;
    background: #FCFCFC;
    padding: 16px;
    &-sub-menu{
      display: flex;
      flex-direction: column;
    }
  }
  &__item{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &-sub{
      display: flex;  
      align-items: center;
      padding: 16.5px 0;
      width: 80%;
      border-radius: 12px;
      padding-left: 26px;
      text-decoration: none;
      @include font( 16px, 22px, 700, #808191);
      img, svg{
        margin-right: 13px;
      }
      &_active{
        /* Primary color */
        background-color: #475BE8!important;
        @include font( 16px, 22px, 700, #FCFCFC);
      }
    }
  }
}

@media (max-width: 1440px) {
  .c-sidebar{
  }
}